<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-am-i-late" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>AmILate</name><js-module name="AmILate" src="www/AmILate.js"><clobbers target="cordova.plugins.AmILate" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="AmILate"><param name="android-package" value="cordova-plugin-am-i-late.AmILate" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml">
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
</config-file><source-file src="src/android/AmILate.java" target-dir="src/cordova-plugin-am-i-late/AmILate" /></platform><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="AmILate"><param name="ios-package" value="AmILate" /></feature></config-file><source-file src="src/ios/AmILate.m" /></platform></plugin>